Icon_1 Icon "G:\\Icon_Library\\Black arrow.ico"
Icon_2 Icon "G:\\Icon_Library\\Blue arrow.ico"
Icon_3 Icon "G:\\Icon_Library\\Bomb.ico"
Icon_4 Icon "G:\\Icon_Library\\Aqua ball.ico"
Icon_5 Icon "G:\\Icon_Library\\Blue flag.ico"
Icon_6 Icon "G:\\Icon_Library\\Butterfly.ico"
Icon_7 Icon "G:\\Icon_Library\\Car.ico"
Icon_8 Icon "G:\\Icon_Library\\Cam.ico"
Icon_9 Icon "G:\\Icon_Library\\Cinema.ico"
Icon_10 Icon "G:\\Icon_Library\\Briefcase.ico"
Icon_11 Icon "G:\\Icon_Library\\Award.ico"
Icon_12 Icon "G:\\Icon_Library\\Basball bat.ico"
